@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto+Mono:wght@700&display=swap');


h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 54px;
    color: rgb(207, 131, 252);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 40px;
    color: rgb(207, 131, 252);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
}

nav {
    margin-top: 50px;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-left: -30px;
  padding: 10px;
}

.list {
  padding-left: 60px;
  background-color: #edeff5;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 20px;
    
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

section {
    padding-top: 10px;
}

hr {
    border-width:0;
    background-color: black;
    height: 1px;
}

  .icon {
    width: 50px; 
    height: 50px; 
    object-fit: cover;
    border-radius: 40%;
    margin: 5px;
    border: 1px solid;
  }
  .icon:hover {
    opacity: 0.7;
  }
  .icon_link {
    padding: 0;
    margin: 0;
  }


  .wrapper {
    display: flex;  
    flex-flow: row wrap;
  }
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  

  @media all and (min-width: 800px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 600px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  